<!-- Sticky Footer -->
<footer class="footer reduced-padding is-opaque">
  <div class="content has-text-centered">
      <p>
          <strong>Calendar App</strong> by <a href="https://jgthms.com">Ryan Chau</a>
      </p>
  </div>
</footer>
<!-- End of Footer -->
